<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta name="keywords" content="ITELLYOU 文字绘图工具,PlantUml,Graphviz,Mermaid,Flowchar,Latex" />
    <meta name="description" content="使用代码可以生成 PlantUml、Graphviz、Mermaid、Flowchart、Latex 图形" />
    <% if (context.title != null) { %>
      <title><%= context.title %></title>
    <% } %>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
  </body>
</html>
